{% extends "layout.html" %}
{% block content %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Last Name</th>
        <th scope="col">First Name</th>
        <th scope="col">SSN</th>
        <th scope="col">Test 1</th>
        <th scope="col">Test 2</th>
        <th scope="col">Test 2</th>
        <th scope="col">Test 3</th>
        <th scope="col">Test 4</th>
        <th scope="col">Final</th>
        <th scope="col">Grade</th>
    </tr>
    </thead>
    <tbody>
    {% for city in grades %}
    <tr>
        <td><a href="view/{{grade.id}}">{{ grade.fldLastName }}</a></td>
        <td>{{ grade.fldFirstName }}</td>
        <td>{{ grade.fldSSN }}</td>
        <td>{{ grade.fldTest1 }}</td>
        <td>{{ grade.fldTest2 }}</td>
        <td>{{ grade.fldTest3 }}</td>
        <td>{{ grade.fldTest4 }}</td>
        <td>{{ grade.fldFinal }}</td>
        <td>{{ grade.fldGrade }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}