{% extends "layout.html" %}
{% block content %}
<form action="/grades/new" method="POST">
    <div class="row">
        <div class="col">
            <label for="fldLastName">Last Name</label>
            <input id="fldLastName" type="text" class="form-control" placeholder="Last Name" name="fldLastName">
        </div>
        <div class="col">
            <label for="fldTest2">Test 2</label>
            <input id="fldTest2" type="text" class="form-control" placeholder="Test 2"
                   name="fldTest2">
        </div>
        <div class="col">
            <label for="fldTest1">Test 1</label>
            <input id="fldTest1" type="text" class="form-control" placeholder="Test 1" name="fldTest1">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="fldFirstName">First Name</label>
            <input id="fldFirstName" type="text" class="form-control" placeholder="First Name" name="fldFirstName">
        </div>
        <div class="col">
            <label for="fldSSN">SSN</label>
            <input id="fldSSN" type="text" class="form-control" placeholder="SSN" name="fldSSN">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="fldTest3">Test 3</label>

            <input id="fldTest3" type="text" class="form-control" placeholder="Test 3"
                   name="fldTest3">
        </div>
        <div class="col">
            <label for="fldTest4">Test 4</label>
            <input id="fldTest4" type="text" class="form-control" placeholder="Test 4" name="fldTest4">
        </div>
    </div>
    <button type="submit" class="btn btn-success">Create</button>

</form>

{% endblock %}
