{% extends "layout.html" %}
{% block content %}

<div class="card" class="m-5 p-2">
    <h5 class="card-title">{{ oscar.fldYear }}</h5>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ oscar.fldAge }}</li>
        <li class="list-group-item">{{ oscar.fldName }}</li>
        <li class="list-group-item">{{ oscar.fldMovie }}</li>
    </ul>
    <div class="card-body">
        <a href="/edit/{{oscar.id}}" class="card-link btn btn-primary">EDIT OSCAR AWARD</a>
    </div>
</div>

<form action="/delete/{{oscar.id}}" method="post"><button type="submit" class="btn btn-danger">DELETE OSCAR AWARD</button></form>


{% endblock %}